<div class="mt-5">
    <form method="GET" action="/news">
        <div class="form-group">
            <label for="search-input">Từ khóa</label>
            <input type="text" name="fullname">
            <input type="text" name="age">
            <input type="text" name="q" class="form-control" id="exampleInputEmail1" placeholder="Nhập từ khóa">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>